# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

*.memmap
*.png
*.zip
*.npz
*.npy
*.jpg
*.jpeg
.idea
*.txt
.idea/*
*.png
*.nii.gz
*.nii
*.tif
*.bmp
*.pkl
*.xml
*.pkl
*.pdf
*.png
*.jpg
*.jpeg
.DS_Store

*.model

data/PROMISE12/test/Case00_segmentation.mhd
data/PROMISE12/test/Case00_segmentation.raw
data/PROMISE12/test/Case00.mhd
data/PROMISE12/test/Case00.raw
data/PROMISE12/test/Case01_segmentation.mhd
data/PROMISE12/test/Case01_segmentation.raw
data/PROMISE12/test/Case01.mhd
data/PROMISE12/test/Case01.raw
data/PROMISE12/test/Case02_segmentation.mhd
data/PROMISE12/test/Case02_segmentation.raw
data/PROMISE12/test/Case02.mhd
data/PROMISE12/test/Case02.raw
data/PROMISE12/test/Case03_segmentation.mhd
data/PROMISE12/test/Case03_segmentation.raw
data/PROMISE12/test/Case03.mhd
data/PROMISE12/test/Case03.raw
data/PROMISE12/test/Case04_segmentation.mhd
data/PROMISE12/test/Case04_segmentation.raw
data/PROMISE12/test/Case04.mhd
data/PROMISE12/test/Case04.raw
data/PROMISE12/test/Case05_segmentation.mhd
data/PROMISE12/test/Case05_segmentation.raw
data/PROMISE12/test/Case05.mhd
data/PROMISE12/test/Case05.raw
data/PROMISE12/test/Case06_segmentation.mhd
data/PROMISE12/test/Case06_segmentation.raw
data/PROMISE12/test/Case06.mhd
data/PROMISE12/test/Case06.raw
data/PROMISE12/test/Case07_segmentation.mhd
data/PROMISE12/test/Case07_segmentation.raw
data/PROMISE12/test/Case07.mhd
data/PROMISE12/test/Case07.raw
data/PROMISE12/test/Case08_segmentation.mhd
data/PROMISE12/test/Case08_segmentation.raw
data/PROMISE12/test/Case08.mhd
data/PROMISE12/test/Case08.raw
data/PROMISE12/test/Case09_segmentation.mhd
data/PROMISE12/test/Case09_segmentation.raw
data/PROMISE12/test/Case09.mhd
data/PROMISE12/test/Case09.raw
data/PROMISE12/test/Case10_segmentation.mhd
data/PROMISE12/test/Case10_segmentation.raw
data/PROMISE12/test/Case10.mhd
data/PROMISE12/test/Case10.raw
data/PROMISE12/test/Case11_segmentation.mhd
data/PROMISE12/test/Case11_segmentation.raw
data/PROMISE12/test/Case11.mhd
data/PROMISE12/test/Case11.raw
data/PROMISE12/test/Case12_segmentation.mhd
data/PROMISE12/test/Case12_segmentation.raw
data/PROMISE12/test/Case12.mhd
data/PROMISE12/test/Case12.raw
data/PROMISE12/test/Case13_segmentation.mhd
data/PROMISE12/test/Case13_segmentation.raw
data/PROMISE12/test/Case13.mhd
data/PROMISE12/test/Case13.raw
data/PROMISE12/test/Case14_segmentation.mhd
data/PROMISE12/test/Case14_segmentation.raw
data/PROMISE12/test/Case14.mhd
data/PROMISE12/test/Case14.raw
data/PROMISE12/test/Case15_segmentation.mhd
data/PROMISE12/test/Case15_segmentation.raw
data/PROMISE12/test/Case15.mhd
data/PROMISE12/test/Case15.raw
data/PROMISE12/test/Case16_segmentation.mhd
data/PROMISE12/test/Case16_segmentation.raw
data/PROMISE12/test/Case16.mhd
data/PROMISE12/test/Case16.raw
data/PROMISE12/test/Case17_segmentation.mhd
data/PROMISE12/test/Case17_segmentation.raw
data/PROMISE12/test/Case17.mhd
data/PROMISE12/test/Case17.raw
data/PROMISE12/test/Case18_segmentation.mhd
data/PROMISE12/test/Case18_segmentation.raw
data/PROMISE12/test/Case18.mhd
data/PROMISE12/test/Case18.raw
data/PROMISE12/test/Case19_segmentation.mhd
data/PROMISE12/test/Case19_segmentation.raw
data/PROMISE12/test/Case19.mhd
data/PROMISE12/test/Case19.raw
data/PROMISE12/test/Case20_segmentation.mhd
data/PROMISE12/test/Case20_segmentation.raw
data/PROMISE12/test/Case20.mhd
data/PROMISE12/test/Case20.raw
data/PROMISE12/test/Case21_segmentation.mhd
data/PROMISE12/test/Case21_segmentation.raw
data/PROMISE12/test/Case21.mhd
data/PROMISE12/test/Case21.raw
data/PROMISE12/test/Case22_segmentation.mhd
data/PROMISE12/test/Case22_segmentation.raw
data/PROMISE12/test/Case22.mhd
data/PROMISE12/test/Case22.raw
data/PROMISE12/test/Case23_segmentation.mhd
data/PROMISE12/test/Case23_segmentation.raw
data/PROMISE12/test/Case23.mhd
data/PROMISE12/test/Case23.raw
data/PROMISE12/test/Case24_segmentation.mhd
data/PROMISE12/test/Case24_segmentation.raw
data/PROMISE12/test/Case24.mhd
data/PROMISE12/test/Case24.raw
data/PROMISE12/test/Case25_segmentation.mhd
data/PROMISE12/test/Case25_segmentation.raw
data/PROMISE12/test/Case25.mhd
data/PROMISE12/test/Case25.raw
data/PROMISE12/test/Case26_segmentation.mhd
data/PROMISE12/test/Case26_segmentation.raw
data/PROMISE12/test/Case26.mhd
data/PROMISE12/test/Case26.raw
data/PROMISE12/test/Case27_segmentation.mhd
data/PROMISE12/test/Case27_segmentation.raw
data/PROMISE12/test/Case27.mhd
data/PROMISE12/test/Case27.raw
data/PROMISE12/test/Case28_segmentation.mhd
data/PROMISE12/test/Case28_segmentation.raw
data/PROMISE12/test/Case28.mhd
data/PROMISE12/test/Case28.raw
data/PROMISE12/test/Case29_segmentation.mhd
data/PROMISE12/test/Case29_segmentation.raw
data/PROMISE12/test/Case29.mhd
data/PROMISE12/test/Case29.raw
data/PROMISE12/train/Case00_segmentation.mhd
data/PROMISE12/train/Case00_segmentation.raw
data/PROMISE12/train/Case00.mhd
data/PROMISE12/train/Case00.raw
data/PROMISE12/train/Case01_segmentation.mhd
data/PROMISE12/train/Case01_segmentation.raw
data/PROMISE12/train/Case01.mhd
data/PROMISE12/train/Case01.raw
data/PROMISE12/train/Case02_segmentation.mhd
data/PROMISE12/train/Case02_segmentation.raw
data/PROMISE12/train/Case02.mhd
data/PROMISE12/train/Case02.raw
data/PROMISE12/train/Case03_segmentation.mhd
data/PROMISE12/train/Case03_segmentation.raw
data/PROMISE12/train/Case03.mhd
data/PROMISE12/train/Case03.raw
data/PROMISE12/train/Case04_segmentation.mhd
data/PROMISE12/train/Case04_segmentation.raw
data/PROMISE12/train/Case04.mhd
data/PROMISE12/train/Case04.raw
data/PROMISE12/train/Case05_segmentation.mhd
data/PROMISE12/train/Case05_segmentation.raw
data/PROMISE12/train/Case05.mhd
data/PROMISE12/train/Case05.raw
data/PROMISE12/train/Case06_segmentation.mhd
data/PROMISE12/train/Case06_segmentation.raw
data/PROMISE12/train/Case06.mhd
data/PROMISE12/train/Case06.raw
data/PROMISE12/train/Case07_segmentation.mhd
data/PROMISE12/train/Case07_segmentation.raw
data/PROMISE12/train/Case07.mhd
data/PROMISE12/train/Case07.raw
data/PROMISE12/train/Case08_segmentation.mhd
data/PROMISE12/train/Case08_segmentation.raw
data/PROMISE12/train/Case08.mhd
data/PROMISE12/train/Case08.raw
data/PROMISE12/train/Case09_segmentation.mhd
data/PROMISE12/train/Case09_segmentation.raw
data/PROMISE12/train/Case09.mhd
data/PROMISE12/train/Case09.raw
data/PROMISE12/train/Case10_segmentation.mhd
data/PROMISE12/train/Case10_segmentation.raw
data/PROMISE12/train/Case10.mhd
data/PROMISE12/train/Case10.raw
data/PROMISE12/train/Case11_segmentation.mhd
data/PROMISE12/train/Case11_segmentation.raw
data/PROMISE12/train/Case11.mhd
data/PROMISE12/train/Case11.raw
data/PROMISE12/train/Case12_segmentation.mhd
data/PROMISE12/train/Case12_segmentation.raw
data/PROMISE12/train/Case12.mhd
data/PROMISE12/train/Case12.raw
data/PROMISE12/train/Case13_segmentation.mhd
data/PROMISE12/train/Case13_segmentation.raw
data/PROMISE12/train/Case13.mhd
data/PROMISE12/train/Case13.raw
data/PROMISE12/train/Case14_segmentation.mhd
data/PROMISE12/train/Case14_segmentation.raw
data/PROMISE12/train/Case14.mhd
data/PROMISE12/train/Case14.raw
data/PROMISE12/train/Case15_segmentation.mhd
data/PROMISE12/train/Case15_segmentation.raw
data/PROMISE12/train/Case15.mhd
data/PROMISE12/train/Case15.raw
data/PROMISE12/train/Case16_segmentation.mhd
data/PROMISE12/train/Case16_segmentation.raw
data/PROMISE12/train/Case16.mhd
data/PROMISE12/train/Case16.raw
data/PROMISE12/train/Case17_segmentation.mhd
data/PROMISE12/train/Case17_segmentation.raw
data/PROMISE12/train/Case17.mhd
data/PROMISE12/train/Case17.raw
data/PROMISE12/train/Case18_segmentation.mhd
data/PROMISE12/train/Case18_segmentation.raw
data/PROMISE12/train/Case18.mhd
data/PROMISE12/train/Case18.raw
data/PROMISE12/train/Case19_segmentation.mhd
data/PROMISE12/train/Case19_segmentation.raw
data/PROMISE12/train/Case19.mhd
data/PROMISE12/train/Case19.raw
data/PROMISE12/train/Case20_segmentation.mhd
data/PROMISE12/train/Case20_segmentation.raw
data/PROMISE12/train/Case20.mhd
data/PROMISE12/train/Case20.raw
data/PROMISE12/train/Case21_segmentation.mhd
data/PROMISE12/train/Case21_segmentation.raw
data/PROMISE12/train/Case21.mhd
data/PROMISE12/train/Case21.raw
data/PROMISE12/train/Case22_segmentation.mhd
data/PROMISE12/train/Case22_segmentation.raw
data/PROMISE12/train/Case22.mhd
data/PROMISE12/train/Case22.raw
data/PROMISE12/train/Case23_segmentation.mhd
data/PROMISE12/train/Case23_segmentation.raw
data/PROMISE12/train/Case23.mhd
data/PROMISE12/train/Case23.raw
data/PROMISE12/train/Case24_segmentation.mhd
data/PROMISE12/train/Case24_segmentation.raw
data/PROMISE12/train/Case24.mhd
data/PROMISE12/train/Case24.raw
data/PROMISE12/train/Case25_segmentation.mhd
data/PROMISE12/train/Case25_segmentation.raw
data/PROMISE12/train/Case25.mhd
data/PROMISE12/train/Case25.raw
data/PROMISE12/train/Case26_segmentation.mhd
data/PROMISE12/train/Case26_segmentation.raw
data/PROMISE12/train/Case26.mhd
data/PROMISE12/train/Case26.raw
data/PROMISE12/train/Case27_segmentation.mhd
data/PROMISE12/train/Case27_segmentation.raw
data/PROMISE12/train/Case27.mhd
data/PROMISE12/train/Case27.raw
data/PROMISE12/train/Case28_segmentation.mhd
data/PROMISE12/train/Case28_segmentation.raw
data/PROMISE12/train/Case28.mhd
data/PROMISE12/train/Case28.raw
data/PROMISE12/train/Case29_segmentation.mhd
data/PROMISE12/train/Case29_segmentation.raw
data/PROMISE12/train/Case29.mhd
data/PROMISE12/train/Case29.raw
data/PROMISE12/train/Case30_segmentation.mhd
data/PROMISE12/train/Case30_segmentation.raw
data/PROMISE12/train/Case30.mhd
data/PROMISE12/train/Case30.raw
data/PROMISE12/train/Case31_segmentation.mhd
data/PROMISE12/train/Case31_segmentation.raw
data/PROMISE12/train/Case31.mhd
data/PROMISE12/train/Case31.raw
data/PROMISE12/train/Case32_segmentation.mhd
data/PROMISE12/train/Case32_segmentation.raw
data/PROMISE12/train/Case32.mhd
data/PROMISE12/train/Case32.raw
data/PROMISE12/train/Case33_segmentation.mhd
data/PROMISE12/train/Case33_segmentation.raw
data/PROMISE12/train/Case33.mhd
data/PROMISE12/train/Case33.raw
data/PROMISE12/train/Case34_segmentation.mhd
data/PROMISE12/train/Case34_segmentation.raw
data/PROMISE12/train/Case34.mhd
data/PROMISE12/train/Case34.raw
data/PROMISE12/train/Case35_segmentation.mhd
data/PROMISE12/train/Case35_segmentation.raw
data/PROMISE12/train/Case35.mhd
data/PROMISE12/train/Case35.raw
data/PROMISE12/train/Case36_segmentation.mhd
data/PROMISE12/train/Case36_segmentation.raw
data/PROMISE12/train/Case36.mhd
data/PROMISE12/train/Case36.raw
data/PROMISE12/train/Case37_segmentation.mhd
data/PROMISE12/train/Case37_segmentation.raw
data/PROMISE12/train/Case37.mhd
data/PROMISE12/train/Case37.raw
data/PROMISE12/train/Case38_segmentation.mhd
data/PROMISE12/train/Case38_segmentation.raw
data/PROMISE12/train/Case38.mhd
data/PROMISE12/train/Case38.raw
data/PROMISE12/train/Case39_segmentation.mhd
data/PROMISE12/train/Case39_segmentation.raw
data/PROMISE12/train/Case39.mhd
data/PROMISE12/train/Case39.raw
data/PROMISE12/train/Case40_segmentation.mhd
data/PROMISE12/train/Case40_segmentation.raw
data/PROMISE12/train/Case40.mhd
data/PROMISE12/train/Case40.raw
data/PROMISE12/train/Case41_segmentation.mhd
data/PROMISE12/train/Case41_segmentation.raw
data/PROMISE12/train/Case41.mhd
data/PROMISE12/train/Case41.raw
data/PROMISE12/train/Case42_segmentation.mhd
data/PROMISE12/train/Case42_segmentation.raw
data/PROMISE12/train/Case42.mhd
data/PROMISE12/train/Case42.raw
data/PROMISE12/train/Case43_segmentation.mhd
data/PROMISE12/train/Case43_segmentation.raw
data/PROMISE12/train/Case43.mhd
data/PROMISE12/train/Case43.raw
data/PROMISE12/train/Case44_segmentation.mhd
data/PROMISE12/train/Case44_segmentation.raw
data/PROMISE12/train/Case44.mhd
data/PROMISE12/train/Case44.raw
data/PROMISE12/train/Case45_segmentation.mhd
data/PROMISE12/train/Case45_segmentation.raw
data/PROMISE12/train/Case45.mhd
data/PROMISE12/train/Case45.raw
data/PROMISE12/train/Case46_segmentation.mhd
data/PROMISE12/train/Case46_segmentation.raw
data/PROMISE12/train/Case46.mhd
data/PROMISE12/train/Case46.raw
data/PROMISE12/train/Case47_segmentation.mhd
data/PROMISE12/train/Case47_segmentation.raw
data/PROMISE12/train/Case47.mhd
data/PROMISE12/train/Case47.raw
data/PROMISE12/train/Case48_segmentation.mhd
data/PROMISE12/train/Case48_segmentation.raw
data/PROMISE12/train/Case48.mhd
data/PROMISE12/train/Case48.raw
data/PROMISE12/train/Case49_segmentation.mhd
data/PROMISE12/train/Case49_segmentation.raw
data/PROMISE12/train/Case49.mhd
data/PROMISE12/train/Case49.raw
nnUNet_preprocessed/Task024_Promise/dataset.json
nnUNet_raw_data_base/nnUNet_cropped_data/Task024_Promise/dataset.json
nnUNet_raw_data_base/nnUNet_raw_data/Task024_Promise/dataset.json
outputs/*